/*  CSS */
/* .=class #=id */

html{
	background-color: #666;
}

body{
	font: 1em/1.5em, Arial, Helvetica, "sans-serif";
	width: 80%;
	margin: 0 auto;
	background-color: white;
}

h1, h2, h3, h4{
	color: Purple;
	font-weight: bold;
	font-size: 1.5em;
}


h2{
	font-size: 1.3em;
}

h3{
	font-size: 1.2em;
}

h4{
	font-size: 1.1em;
}
header{
	height: 50px;
	background-color: black;
	position: relative;
}

a{
	color:blue;
	list-style-type: none;
}

.logo{
	font: 1.5em, Georgia;
	color: gold;
}

/*--------------- NAV --------------*/

#nav{
	width: 	100%;
	background: #666;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	
}


#nav li{
	display: block;
	width: 100%;
	float: left;
	margin: 0 auto;
}

#nav ul li a:link{
	color: gold;
	list-style-type: none;	
}

#nav ul li a:visited{
	color: purple;
	list-style-type: none;
}
#nav ul li a:hover{
	color: gold;
	list-style-type: none;
}
#nav ul li a:active{
	color: white;
	list-style-type: none;
}


/*-------------------- end Nav---------*/


#homecontent{
	clear: both;
}

#gallery{
	
}

.photogallery li{
	
}

article{
	position: relative;
	
}

section{
	float: left;
	width: 60%;
}

aside{
	float: right;
	width: 30%;
}

#bottom-section{
	clear: both;
	margin-top: 1em;
}

footer{
	clear: both;
	margin-top: 1em;
	text-align: center;
}

