/*  CSS */
/* .=class #=id */

html[
	background: grey;
]

body[
	width: 80%;
	margin: 0, auto;
	background: white;
]

H1[
	color: red;
]
header[
	height: 50px,
	margin-bottom: 1em;
]

navigation[
	heigth: 25px,
	float: left;
	margin-bottom: 1em, auto;
]

#homecontent[
	postion: relative;
]

gallery[]

article[]

section[
	float: left;
	width: 60%;
]

aside[
	float: right;
	width: 30%;
]

#bottom-section[
	clear: both;
	margin-top: 1em;
]

footer[
	clear: both;
	margin-top: 1em;
	
]

